# Build products
target/
docs/_build/
dist/
node/
node_modules/
logs/

# IntelliJ data
*.iml
*.iws
*.ipr
.idea/

# Other
.DS_Store
.dumbjump
*classes
*~
*#
.#*
.classpath
/.metadata
.project
.settings
.tern-port
ui/
