# Build products
target/
docs/_build/
# Javadocs
docs/developer-guide/ksqldb-clients/java-client/api
dist/
node/
node_modules/
logs/

# Test directories
junit*/

# IntelliJ data
*.iml
*.iws
*.ipr
.idea/

# Maven wrapper
.mvn/

# VSCode data
.vscode/

# Other
.DS_Store
.dumbjump
*classes
*~
*#
.#*
.classpath
.factorypath
/.metadata
.project
.settings
.tern-port
ui/
/ksqldb-functional-tests/src/test/resources/**/scratch.json

# Local Development Files
docker-compose.local.yml
config/ksql-server.local.properties
.env.local
