.md-header, .md-tabs {
    background-color: #252839;
}

.md-header-nav .ksqldb-home {
    font-size: .65rem;
    border: 1px solid #787a82;
    align-self: center;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: 600;
    background: #1b1e2b;
}

.md-header-nav .ksqldb-home i {
    color: #787a82;
    padding-left: 3px;
}

.md-header-nav__title {
    padding-left: .1rem;
}

select.version {
    font-size: .65rem;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    color: #fff;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 0.6em auto;
    background-position: right 0.25em center;
    padding-right: 1em;
    background-image: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
      <polygon points='0,0 60,0 30,40' style='fill:white;'/> \
    </svg>");
}

select.version::-ms-expand {
    display: none;
}

@media screen and (min-width:0\0) {
    select.version {
        background: none\9;
        padding: 5px\9;
    }
}

@media screen and (min-width: 60em) {
    .md-header-nav__source {
        width: 10.7rem;
        max-width: 10.7rem;
    }
}

.centered-img {
    display: block;
    margin: 30px auto;
}
