.md-header, .md-tabs {
    background-color: #252839;
}

select.version {
    font-size: .65rem;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    color: #fff;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 0.6em auto;
    background-position: right 0.25em center;
    padding-right: 1em;
    background-image: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
      <polygon points='0,0 60,0 30,40' style='fill:white;'/> \
    </svg>");
}

select.version::-ms-expand {
    display: none;
}

select.version option {
    color: #000;
}

@media screen and (min-width:0\0) {
    select.version {
        background: none\9;
        padding: 5px\9;
    }
}

@media screen and (min-width: 60em) {
    .md-header-nav__source {
        width: 10.7rem;
        max-width: 10.7rem;
    }
}

.centered-img {
    display: block;
    margin: 30px auto;
}
