mkdocs==1.2.3
mdx_gh_links==0.2
mkdocs-macros-plugin==0.6.0
mkdocs-git-revision-date-plugin==0.3.1
pymdown-extensions==8.1
Pygments==2.7.4
mkdocs-material==6.2.3
python-dateutil==2.8.1
mkdocs-redirects==1.0.1
mdx_truly_sane_lists==1.2
